<div class="app-card-container">
  <div class="card" >
    <h1>About Me</h1>
    
    <hr>
    
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "Screenshot (9).png", width: 300, alt: "profile image" %>
      </div>
      
      <div class="col-md-8">
        <p>My name is Caden Wright I am 15 years old and enjoy longboarding, fishing, camping, and playing videogames.
        I go to Corner Canyon High School in Draper Utah. Also I have lived in Draper, UT my entire life.</p>
      </div>
    </div>
  </div>
</div>


