<div class="app-card-container">
  <div class="card">      
    <h1>How to contact me</h1>
    
    <hr>
    
    <div class='row'>
      <div class="col-md-6">
        <h3>Location</h3>
        
        <p>Draper,UT</p>
        
        <h3>Phone</h3>
    
        <p><%= number_to_phone "8018345699"%></p>
        
        <h3>Email</h3>
        
        <p>Cademonster10@gmail.com</p>
    </div>
    
    <div class="col-md-6">
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d97093.
         6920331125!2d-111.9225055741922!3d40.49344950981948!2m3!1f0!2f0!3f0!3m2!
         1i1024!2i768!4f13.1!3m3!1m2!1s0x8752805153135f0f%3A0xea3aa3af26cf70b2!2s
         Draper%2C+UT!5e0!3m2!1sen!2sus!4v1500399745839" width="600" height="450" 
         frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
