<div class="inner cover">
  <div class='app-body'>
    <h1 class="cover-heading">Hi, How are you?</h1>
    <p class="lead">This is a website to show a example of what I created for a coding course I am taking.</p>
    <p class="lead">
      <%= link_to "About Me", about_me_path, class:"btn btn-lg btn-default" %>
    </p>
  </div>  
 </div>



      



